.favorites-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.remove-btn {
  float: left;
  margin-right: 5px;
}

.del-btn {
  float: right;
}

.favorites {
  justify-content: center;
}
