.card-img {
  max-height: 500px;
  max-width: 550px;
}

.movieView-card {
 max-width: 450px;
 margin-left: auto;
 margin-right: auto;
}

.fav-btn {
  float: right;
}

.title {
  float: left;
}

.movieView-icon {
  margin-bottom: 4px;
}

.card-title {
  font-size: 27px;
}